---
export const prerender = false;

import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import Container from "@components/Container.astro";

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const email = formData.get("email")?.toString();
  if (!email) {
    return Astro.redirect(`/?error=${encodeURIComponent("Please enter an email")}`);
  }
}

const blog = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 3);

---

<PageLayout title="oliur sahin" description="co-maker of emptyarray">
  <Container class="font-mono text-base">
    <h4 class="font-mono pb-2">
      👋, im <Link href="https://twitter.com/oliursahin" external>oliur sahin</Link>, co-maker of <Link href="https://emptyarray.me" external>emptyarray</Link>, i grew up in <Link href="https://en.wikipedia.org/wiki/Kolkata">culcutta</Link> and half studied computer science.
    </h4>
    <p>i live <Link href="/posts/distributed-living">distributed</Link> and make things for people who make things— here, i inconsistently post a few of my self notes.</p>
    <div class="space-y-12 font-mono">
      <section></section>
      <section class="space-y-3">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5>latest</h5>
        </div>
        <ul class="flex flex-col">
          {blog.slice(0, 1).map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section>
      <section class="mt-8">
        <h3 class="font-mono text-base">posts</h3>
        <ul class="flex flex-col">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
