---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
---

<footer class="py-8 text-[#666666]">
  <Container>
    <div class="space-y-4">
      <div class="text-[#666666]">
        oliur sahin (<Link href="https://twitter.com/oliursahin" external class="text-[#666666] hover:text-[#999999]">@oliursahin</Link>)
      </div>
    </div>
  </Container>
</footer>
