---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header style="margin:0; z-index: 100; backdrop-filter: blur(1px); background-color: transparent !important;">
  <Container>
    <div class="flex justify-between items-center">
      <Link href="/" underline={false}>
        <div>{SITE.NAME}</div>
      </Link>
      <Link href="/contact">get in touch</Link>
    </div>
  </Container>
</header>

