---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header class="py-4">
  <Container>
    <div class="flex justify-between items-center">
      <Link href="/" underline={false}>
        <div>{SITE.NAME}</div>
      </Link>
      <Link href="/contact" class="text-[#666666] hover:text-[#999999]">get in touch</Link>
    </div>
  </Container>
</header>
