 ---
let error = Astro.url.searchParams.get("error");
---

<p class="text-black">newsletter</p>
<p style="margin-top: 1rem;" class="text-gray-500">i write short emails where i share random stuff, stories, experiences and my bookmarks.</p>

<form method="POST" class="flex flex-col gap-4 mt-8">
  <input
    type="email"
    name="email"
    placeholder="your@email.com"
    class="px-4 py-2 bg-transparent border border-[#666666] rounded-lg focus:outline-none focus:border-[#999999] text-[#666666] placeholder-[#666666]"
  />
  <button
    type="submit"
    class="px-4 py-2 bg-transparent border border-[#666666] rounded-lg text-[#666666] hover:bg-[#666666] hover:text-white transition-colors duration-300 ease-in-out"
  >
    subscribe
  </button>
</form>
<!-- {
  error && <p class="text-sm sm:text-xs font-mono text-red-500">{error}</p>
} -->
