---
import type { CollectionEntry } from 'astro:content';

type Props = {
  post: CollectionEntry<'blog'>;
};

const { post } = Astro.props;
const isDistributedLiving = post.slug === 'distributed-living';
---

<article class="prose prose-neutral max-w-[65ch]">
  <h1 class="text-black">{post.data.title}</h1>
  {post.data.description && <p class="text-xl">{post.data.description}</p>}
  <hr />
  <div class="text-[#666666]">
    <slot />
  </div>
  {isDistributedLiving && <></>}
</article>

<style>
  article {
    max-width: 100%;
    margin: 0 auto;
  }
</style>
