---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE } from "@consts";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <Head title={`${title} | ${SITE.NAME}`} description={description} />
  </head>
  <body class="min-h-full flex flex-col">
    <Header />
    <main class= " pt-14 flex-1 ;">
      <slot />
    </main>
    <Footer />
  </body>
</html>
